.App {
  text-align: center;
}

.hole-contant{
  display: flex;
  
flex-direction: row;

float: left;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}


.img-wrapper{

  width: 100%;
};



