
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.borderhide{
  border: none !important;
}
.search-wrap{
  width: 44vw !important;
  
}
.form-control:focus{
  box-shadow: none !important;
border-color: inherit !important;
}


span{
 
  font-weight: 600 ;
font-size: 15px;

}

